.containerWidth {
   width: 80%;
}

.statisticsSection{
   font-size: 10px;
   color: white;
}

.statisticsProgressBar{
   height: 8px;
}

.statisticsP {
   margin: 10px;
}

.statisticsSectionHeader {
   font-size: 12px;
   margin: 12px;
}
