
.containerWidth {
   width: 80%;
}

.statisticsSection{
   font-size: 10px;
   color: white;
}

.statisticsProgressBar{
   height: 8px;
}

.statisticsP {
   margin: 10px;
}

.statisticsSectionHeader {
   font-size: 12px;
   margin: 12px;
}

.warning-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.warning-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}